<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>PPHRootHeaderView</string>
			<key>icon</key>
			<string>PPHHeader.png</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RECENT CALLS SCREEN</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>showExactTimeInRecentCalls</string>
			<key>label</key>
			<string>Exact Time In Recent Calls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>hideThirdParyCalls</string>
			<key>label</key>
			<string>Hide Third Pary Calls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>colorizeCalls</string>
			<key>label</key>
			<string>Colorize Calls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectphoneprefs.colors</string>
				<key>key</key>
				<string>incomingColor</string>
				<key>fallback</key>
				<string>#24579C</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Incoming Color</string>
			<key>key</key>
			<string>incomingColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectphoneprefs.colors</string>
				<key>key</key>
				<string>outgoingColor</string>
				<key>fallback</key>
				<string>#007D00</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Outgoing Color</string>
			<key>key</key>
			<string>outgoingColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectphoneprefs.colors</string>
				<key>key</key>
				<string>missedColor</string>
				<key>fallback</key>
				<string>#DA0000</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Missed Color</string>
			<key>key</key>
			<string>missedColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DIAL SCREEN</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>longerCallButton</string>
			<key>label</key>
			<string>Longer Call Button</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HIDE TABS</string>
			<key>footerText</key>
			<string>AT LEAST ONE OF THE 'FAVOURITES', 'RECENTS', 'CONTACTS' OR 'KEYPAD' TABS SHOULD BE UNHIDDEN.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>hideFavourites</string>
			<key>label</key>
			<string>Hide Favourites</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>hideRecents</string>
			<key>label</key>
			<string>Hide Recents</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>hideContacts</string>
			<key>label</key>
			<string>Hide Contacts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>hideKeypad</string>
			<key>label</key>
			<string>Hide Keypad</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>hideVoicemail</string>
			<key>label</key>
			<string>Hide Voicemail</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEFAULT OPENED TAB</string>
			<key>footerText</key>
			<string>YOU SHOULD NOT CHOOSE A TAB YOU HAVE HIDDEN AS THE DEFAULT TAB.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectphoneprefs</string>
			<key>key</key>
			<string>defaultTab</string>
			<key>validTitles</key>
			<array>
      			<string>Favourites</string>
      			<string>Recents</string>
      			<string>Contacts</string>
				<string>Keypad</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, THE SETTINGS WILL CLOSE</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectPhone</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL THANKS - ICON AND BANNER DESIGNER</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>𝐑 *¡!</string>
            <key>user</key>
            <string>rsxyo</string>
        </dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
</dict>
</plist>
