<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DUTRootHeaderView</string>
			<key>icon</key>
			<string>DUTHeader.png</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Formatting Instructions</string>
			<key>url</key>
   	 		<string>https://nsdateformatter.com/</string>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>1ST LINE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>HH:mm</string>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>format1</string>
			<key>label</key>
			<string>Format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>14</string>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>fontSize1</string>
			<key>label</key>
			<string>Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>bold1</string>
			<key>label</key>
			<string>Bold</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>2ND LINE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>E dd/MM</string>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>format2</string>
			<key>label</key>
			<string>Format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>10</string>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>fontSize2</string>
			<key>label</key>
			<string>Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>bold2</string>
			<key>label</key>
			<string>Bold</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LANGUAGE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>en_US</string>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>locale</string>
			<key>label</key>
			<string>Locale</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALIGNMENT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>alignment</string>
			<key>validTitles</key>
			<array>
      			<string>Left</string>
      			<string>Center</string>
      			<string>Right</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
			</array>
			<key>label</key>
			<string>Alignment</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM TEXT COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>customTextColorEnabled</string>
			<key>label</key>
			<string>Custom Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.dateundertime13prefs.colors</string>
				<key>key</key>
				<string>customTextColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Custom Text Color</string>
			<key>key</key>
			<string>customTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIONS</string>
			<key>footerText</key>
			<string>'WHEN TAP TO SHOW NEXT ALARM' OPTION IS ENABLED YOU CAN TAP THE TIME TO SHOW NEXT ALARM DATE AND TAP AGAIN TO SHOW THE CURRENT TIME AGAIN.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>showAlarmOnTap</string>
			<key>label</key>
			<string>Tap To Show Next Alarm</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>enableDoubleTap</string>
			<key>label</key>
			<string>Double Tap To Open App</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select App To Open On Double Tap</string>
			<key>action</key>
			<string>selectDoubleTapApp</string>
   	 	</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>enableHold</string>
			<key>label</key>
			<string>Hold To Open App</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select App To Open On Hold</string>
			<key>action</key>
			<string>selectHoldApp</string>
   	 	</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LOCATION INDICATOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>hideLocationIndicator</string>
			<key>label</key>
			<string>Hide location Indicator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BREADCRUMBS</string>
			<key>footerText</key>
			<string>BY ENABLING THIS SETTING, YOU WILL NOT NEED MY OTHER TWEAK CALLED 'DISABLEBREADCRUMBS13'. IT HAS THE SAME FUNCTIONALITY.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>disableBreadcrumbs</string>
			<key>label</key>
			<string>Disable Breadcrumbs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FIX FOR NON NOTCHED IPHONES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>showDateInSameLine</string>
			<key>label</key>
			<string>Show Date In The Same Line</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>customWidth</string>
			<key>label</key>
			<string>Custom Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>100</string>
			<key>defaults</key>
			<string>com.johnzaro.dateundertime13prefs</string>
			<key>key</key>
			<string>width</string>
			<key>label</key>
			<string>Width</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectTime</string>
		</dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee :)</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
	<key>title</key>
	<string>PerfectTime</string>
</dict>
</plist>
