<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>PCCRootHeaderView</string>
			<key>icon</key>
			<string>PCCHeader.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
			<key>footerText</key>
			<string>'CONTROL CENTER TO THE BOTTOM' OPTION MOVES THE CONTROL CENTER MODULES TO THE BOTTOM OF THE SCREEN. IT WORKS ON IPHONE ONLY.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>roundCCModules</string>
			<key>label</key>
			<string>Round CC Modules</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>showSliderPercentage</string>
			<key>label</key>
			<string>Show Percentage On Sliders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>hideControlCenterStatusBar</string>
			<key>label</key>
			<string>Hide Control Center Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>moveControlCenterToTheBottom</string>
			<key>label</key>
			<string>Control Center To The Bottom</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>--- CONNECTIVITY MODULE ---</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>turnOffOnTap</string>
			<key>label</key>
			<string>Turn Off Toggles On Tap</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>customConnectivitySizeEnabled</string>
			<key>label</key>
			<string>Custom Size (Rows X Columns)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>connectivityRows</string>
			<key>validTitles</key>
			<array>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
				<string>4</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>connectivityColumns</string>
			<key>validTitles</key>
			<array>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
				<string>4</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>--- MUSIC MODULE ---</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>customMusicSizeEnabled</string>
			<key>label</key>
			<string>Custom Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>musicSize</string>
			<key>validTitles</key>
			<array>
      			<string>3 X 2</string>
      			<string>4 X 2</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>1</string>
      			<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>--- POWER MODULE ---</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>respringConfirmation</string>
			<key>label</key>
			<string>Confirmation Before Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>ldRestartConfirmation</string>
			<key>label</key>
			<string>Confirmation Before LDRestart</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>safeModeConfirmation</string>
			<key>label</key>
			<string>Confirmation Before Safe Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>uiCacheConfirmation</string>
			<key>label</key>
			<string>Confirmation Before UICache</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>powerOffConfirmation</string>
			<key>label</key>
			<string>Confirmation Before Power Off</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectcontrolcenterprefs</string>
			<key>key</key>
			<string>rebootConfirmation</string>
			<key>label</key>
			<string>Confirmation Before Reboot</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectControlCenter</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL THANKS - ICON AND BANNER DESIGNER</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>𝐑 *¡!</string>
            <key>user</key>
            <string>rsxyo</string>
        </dict>
 		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>John Zarogiannis</string>
			<key>user</key>
			<string>johnzaro</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email Me</string>
			<key>action</key>
			<string>email</string>
			<key>icon</key>
			<string>email.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Check me on Reddit</string>
			<key>action</key>
			<string>reddit</string>
			<key>icon</key>
			<string>reddit.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
		</dict>
	</array>
</dict>
</plist>
