<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>PBTRootHeaderView</string>
			<key>icon</key>
			<string>PBTHeader.png</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DOUBLE TAP ACTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>doubleTapAction</string>
			<key>validTitles</key>
			<array>
      			<string>None</string>
      			<string>Switch LPM</string>
      			<string>Open Battery Page</string>
      			<string>Open App</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select App To Open On Double Tap</string>
			<key>action</key>
			<string>selectDoubleTapApp</string>
   	 	</dict>
			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HOLD ACTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>holdAction</string>
			<key>validTitles</key>
			<array>
      			<string>None</string>
      			<string>Switch LPM</string>
      			<string>Open Battery Page</string>
      			<string>Open App</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select App To Open On Hold</string>
			<key>action</key>
			<string>selectHoldApp</string>
   	 	</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PERCENTAGE LABEL - STYLE</string>
			<key>footerText</key>
			<string>'HIDDEN' OPTION LEAVES THE DEFAULT BATTERY UNCHANGED.
			
'INSIDE BATTERY ICON' OPTION SHOWS BATTERY PERCENTAGE INSIDE THE BATTERY ICON.

'REPLACE BATTERY ICON' OPTION HIDES THE BATTERY ICON AND SHOWS A PERCENTAGE LABEL INSTEAD.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>style</string>
			<key>validTitles</key>
			<array>
      			<string>Hidden</string>
      			<string>Inside Battery Icon</string>
      			<string>Replace Battery Icon</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>THE FOLLOWING SETTINGS ARE APPLIED ONLY FOR THE 'REPLACE BATTERY ICON' MODE</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FONT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>14</string>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>fontSize</string>
			<key>label</key>
			<string>Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>boldFont</string>
			<key>label</key>
			<string>Bold</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>showPercentSymbol</string>
			<key>label</key>
			<string>Show Percent Symbol</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PERCENTAGE COLORIZATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectbattery13prefs</string>
			<key>key</key>
			<string>customDefaultColorEnabled</string>
			<key>label</key>
			<string>Custom Default Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectbattery13prefs.colors</string>
				<key>key</key>
				<string>customDefaultColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Default Color</string>
			<key>key</key>
			<string>customDefaultColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectbattery13prefs.colors</string>
				<key>key</key>
				<string>chargingColor</string>
				<key>fallback</key>
				<string>#26AD61</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Charging</string>
			<key>key</key>
			<string>chargingColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectbattery13prefs.colors</string>
				<key>key</key>
				<string>lowPowerModeColor</string>
				<key>fallback</key>
				<string>#F2C40F</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Low Power Mode</string>
			<key>key</key>
			<string>lowPowerModeColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectbattery13prefs.colors</string>
				<key>key</key>
				<string>lowBattery1Color</string>
				<key>fallback</key>
				<string>#E57C21</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Low Battery (&lt; 25%)</string>
			<key>key</key>
			<string>lowBattery1Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectbattery13prefs.colors</string>
				<key>key</key>
				<string>lowBattery2Color</string>
				<key>fallback</key>
				<string>#E84C3D</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Low Battery (&lt; 15%)</string>
			<key>key</key>
			<string>lowBattery2Color</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectBattery</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL THANKS - ICON AND BANNER DESIGNER</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>𝐑 *¡!</string>
            <key>user</key>
            <string>rsxyo</string>
        </dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
</dict>
</plist>
