<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>PHSRootHeaderView</string>
			<key>icon</key>
			<string>PHSHeader.png</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Home Screen Rotation - iPhone Only</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableHomeScreenRotation</string>
			<key>label</key>
			<string>Enable Home Screen Rotation</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Home Screen Parallax Effect</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>disableParallaxEffect</string>
			<key>label</key>
			<string>Disable Parallax Effect</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP ICONS</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>hideAppIcons</string>
			<key>label</key>
			<string>Hide Selected Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Apps To Hide</string>
			<key>action</key>
			<string>selectAppsToHide</string>
   	 	</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customCornerRadius</string>
			<key>label</key>
			<string>Custom Corner Radius</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>20</real>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>iconCornerRadius</string>
			<key>label</key>
			<string>%i pixels</string>
			<key>singularLabel</key>
			<string>1 pixel</string>
			<key>max</key>
			<real>30</real>
			<key>min</key>
			<real>0</real>
		</dict> -->
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP LABELS</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>hideAppLabels</string>
			<key>label</key>
			<string>Hide Icon Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>hideBlueDot</string>
			<key>label</key>
			<string>Hide 'Updated App' Blue Dot</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customBgTextColorEnable</string>
			<key>label</key>
			<string>Custom Background Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfecthomescreen13prefs.colors</string>
				<key>key</key>
				<string>customBgTextColor</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Background Text Color</string>
			<key>key</key>
			<string>customBgTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customTextColorEnable</string>
			<key>label</key>
			<string>Enable Custom Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfecthomescreen13prefs.colors</string>
				<key>key</key>
				<string>customTextColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Custom Text Color</string>
			<key>key</key>
			<string>customTextColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM APP DOWNLOAD PROGRESS BAR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>progressBarWhenDownloading</string>
			<key>label</key>
			<string>Enable Custom Progress Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableCustomProgressBarColor</string>
			<key>label</key>
			<string>Enable Custom Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfecthomescreen13prefs.colors</string>
				<key>key</key>
				<string>customProgressBarColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Custom Progress Color</string>
			<key>key</key>
			<string>customProgressBarColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PAGE DOTS</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>hidePageDots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DOCK</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableCustomDockRadius</string>
			<key>label</key>
			<string>Custom Dock Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>30</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>dockCornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>60</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>60</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDERS - BEHAVIOR</string>
			<key>footerText</key>
			<string>'CLOSE FOLDER AUTOMATICALLY' OPTION, CLOSES A FOLDER IF AN APP IS LAUNCHED</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>autoCloseFolders</string>
			<key>label</key>
			<string>Close Folder Automatically</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>pinchToCloseFolder</string>
			<key>label</key>
			<string>Pinch To Close Folder</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDERS - TITLE</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>hideFolderTitle</string>
			<key>label</key>
			<string>Hide Folder Title</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>folderTitleBold</string>
			<key>label</key>
			<string>Bold Folder Title</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableFolderTitleCustomFontSize</string>
			<key>label</key>
			<string>Custom Title Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>36</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>folderTitleCustomFontSize</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>70</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>80</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableCustomFolderTitleColor</string>
			<key>label</key>
			<string>Custom Folder Title Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfecthomescreen13prefs.colors</string>
				<key>key</key>
				<string>customFolderTitleColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Custom Folder Title Color</string>
			<key>key</key>
			<string>customFolderTitleColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDERS - ICON</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableCustomFolderIconBackgroundColor</string>
			<key>label</key>
			<string>Custom Folder Icon BG Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfecthomescreen13prefs.colors</string>
				<key>key</key>
				<string>customFolderIconBackgroundColor</string>
				<key>fallback</key>
				<string>#FF9400:1.0</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Folder Icon BG Color</string>
			<key>key</key>
			<string>customFolderIconBackgroundColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDERS - MAIN VIEW</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableCustomFolderCornerRadius</string>
			<key>label</key>
			<string>Custom Folder Corner Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>38</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>folderCornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>140</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>140</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>enableCustomFolderBackgroundColor</string>
			<key>label</key>
			<string>Custom Folder BG Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfecthomescreen13prefs.colors</string>
				<key>key</key>
				<string>customFolderBackgroundColor</string>
				<key>fallback</key>
				<string>#FF9400:1.0</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Folder BG Color</string>
			<key>key</key>
			<string>customFolderBackgroundColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHORTCUTS MENU (SHOWN WHEN 3D TOUCHING AN APP)</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>hideWidgetsIn3DTouch</string>
			<key>label</key>
			<string>Hide Widget If Available</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>hideShareAppShortcut</string>
			<key>label</key>
			<string>Hide 'Share App' Shortcut</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>addGetBundleIDShortcut</string>
			<key>label</key>
			<string>Show App Bundle ID</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>--- Custom Home Screen Layout ---</string>
			<key>alignment</key>
			<integer>1</integer>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customHomeScreenLayoutEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customHomeScreenRowsEnabled</string>
			<key>label</key>
			<string>Custom Home Screen Rows</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>6</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customHomeScreenRows</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>6</integer>
			<key>min</key>
			<integer>3</integer>
			<key>max</key>
			<integer>9</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customHomeScreenColumnsEnabled</string>
			<key>label</key>
			<string>Custom Home Screen Columns</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customHomeScreenColumns</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>min</key>
			<integer>3</integer>
			<key>max</key>
			<integer>6</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customFolderRowsEnabled</string>
			<key>label</key>
			<string>Custom Folder Rows</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customFolderRows</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>min</key>
			<integer>2</integer>
			<key>max</key>
			<integer>5</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customFolderColumnsEnabled</string>
			<key>label</key>
			<string>Custom Folder Columns</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customFolderColumns</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>min</key>
			<integer>2</integer>
			<key>max</key>
			<integer>5</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customDockColumnsEnabled</string>
			<key>label</key>
			<string>Custom Dock Icons (iPhone)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfecthomescreen13prefs</string>
			<key>key</key>
			<string>customDockColumns</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>2</integer>
			<key>min</key>
			<integer>4</integer>
			<key>max</key>
			<integer>6</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectHomeScreen</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL THANKS - ICON AND BANNER DESIGNER</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>𝐑 *¡!</string>
            <key>user</key>
            <string>rsxyo</string>
        </dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
</dict>
</plist>
