<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>NSPRootHeaderView</string>
			<key>icon</key>
			<string>NSPHeader.png</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>All Settings Below Except The 'Update Interval' Are Updated Dynamically And Do Not Require A Respring. Enabling / Disabling The Tweak Requires A Respring.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VISIBILITY</string>
			<key>footerText</key>
			<string>'SHOW ON LOCK SCREEN' WILL SHOW NETWORK SPEED WHILE DEVICE IS UNLOCKED.

'ALWAYS SHOW SPEED' WILL SHOW THE SPEED EVEN IF NO DATA TRANSMISSION IS HAPPENING.

'NOTCHLESS SUPPORT' OPTION HAS THE SIDE EFFECT OF SHOWING THE BLUETOOTH INFO ABOVE EVERY OTHER UI ELEMENT.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showOnLockScreen</string>
			<key>label</key>
			<string>Show On Lock Screen</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showOnlyOnLockScreen</string>
			<key>label</key>
			<string>Show Only On Lock Screen</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showOnControlCenter</string>
			<key>label</key>
			<string>Show On Control Center</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>hideOnFullScreen</string>
			<key>label</key>
			<string>Hide On Full Screen</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>hideOnLandscape</string>
			<key>label</key>
			<string>Hide On Landscape</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>hideOnAppSwitcherFolder</string>
			<key>label</key>
			<string>Hide On App Switcher / Folder</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showAlways</string>
			<key>label</key>
			<string>Always Show Speed</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>notchlessSupport</string>
			<key>label</key>
			<string>Notchless Support</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WHAT TO SHOW</string>
			<key>footerText</key>
			<string>IF 'COMBINE SPEEDS' OPTION IS SELECTED, NETWORK SPEED WILL SHOW DOWN SPEED + UP SPEED ADDED TOGETHER WITH THE INDICATOR OF THE FASTER SPEED.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>separateSpeeds</string>
			<key>validTitles</key>
			<array>
      			<string>Separate speeds</string>
      			<string>Combine speeds</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
			</array>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS FOR SEPARATE SPEEDS</string>
			<key>footerText</key>
			<string>SEPARATOR IS ADDED BETWEEN THE TWO SPEEDS WHEN THEY ARE IN THE SAME LINE.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showUploadSpeed</string>
			<key>label</key>
			<string>Show Upload Speed</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>↑</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>uploadPrefix</string>
			<key>label</key>
			<string>Upload Prefix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showDownloadSpeed</string>
			<key>label</key>
			<string>Show Download Speed</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>↓</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>downloadPrefix</string>
			<key>label</key>
			<string>Download Prefix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showDownloadSpeedFirst</string>
			<key>label</key>
			<string>Show Download Speed First</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showSecondSpeedInNewLine</string>
			<key>label</key>
			<string>Show 2nd Speed In New Line</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string> </string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>separator</string>
			<key>label</key>
			<string>Separator</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DATA UNIT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>dataUnit</string>
			<key>validTitles</key>
			<array>
      			<string>Bytes</string>
      			<string>Bits</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
			</array>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MINIMUM UNIT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>minimumUnit</string>
			<key>validTitles</key>
			<array>
      			<string>B</string>
      			<string>KB</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
			</array>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PORTRAIT POSITION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>280</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>portraitX</string>
			<key>label</key>
			<string>Portrait X</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>32</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>portraitY</string>
			<key>label</key>
			<string>Portrait Y</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LANDSCAPE POSITION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>750</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>landscapeX</string>
			<key>label</key>
			<string>Landscape X</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>landscapeY</string>
			<key>label</key>
			<string>Landscape Y</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>IF 'FOLLOW DEVICE ORIENTATION' OPTION IS DISABLED, THE NETWORK SPEED WILL ALWAYS STAY IN PORTRAIT POSITION.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>animateMovement</string>
			<key>label</key>
			<string>Animate Movement</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>followDeviceOrientation</string>
			<key>label</key>
			<string>Follow Device Orientation</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SIZE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>95</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>width</string>
			<key>label</key>
			<string>Width</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>12</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>height</string>
			<key>label</key>
			<string>Height</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BACKGROUND COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>backgroundColorEnabled</string>
			<key>label</key>
			<string>Enable Background Color</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>margin</string>
			<key>label</key>
			<string>Margin: %i pixels</string>
			<key>singularLabel</key>
			<string>Margin: 1 pixel</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>0</real>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>6</real>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>backgroundCornerRadius</string>
			<key>label</key>
			<string>Corner Radius: %i pixels</string>
			<key>singularLabel</key>
			<string>Corner Radius: 1 pixel</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>0</real>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>customBackgroundColorEnabled</string>
			<key>label</key>
			<string>Custom Background Color</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.networkspeed13prefs.colors</string>
				<key>key</key>
				<string>customBackgroundColor</string>
				<key>fallback</key>
				<string>#000000:0.50</string>
				<key>alpha</key>
				<true/>
				<key>PostNotification</key>
				<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
			</dict>
			<key>label</key>
			<string>Custom Background Color</string>
			<key>key</key>
			<string>customBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TEXT FONT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>8</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>fontSize</string>
			<key>label</key>
			<string>Font Size</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>boldFont</string>
			<key>label</key>
			<string>Bold Font</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>customTextColorEnabled</string>
			<key>label</key>
			<string>Enable Custom Text Color</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.networkspeed13prefs.colors</string>
				<key>key</key>
				<string>customTextColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
				<key>PostNotification</key>
				<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
			</dict>
			<key>label</key>
			<string>Custom Color</string>
			<key>key</key>
			<string>customTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TEXT ALIGNMENT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>alignment</string>
			<key>validTitles</key>
			<array>
      			<string>Left</string>
      			<string>Center</string>
      			<string>Right</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
			</array>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>UPDATE INTERVAL</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>updateInterval</string>
			<key>label</key>
			<string>%i Seconds</string>
			<key>singularLabel</key>
			<string>1 Second</string>
			<key>max</key>
			<real>5</real>
			<key>min</key>
			<real>1</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIONS</string>
			<key>footerText</key>
			<string>SWITCH OFF AND THEN ON AGAIN THE 'DOUBLE TAP TO OPEN' OR 'HOLD TO OPEN' SWITCH FOR THE NEW SELECTED APP TO BE SET CORRECTLY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>enableDoubleTap</string>
			<key>label</key>
			<string>Double Tap To Open App</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select App To Open On Double Tap</string>
			<key>action</key>
			<string>selectDoubleTapApp</string>
   	 	</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>enableHold</string>
			<key>label</key>
			<string>Hold To Open App</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select App To Open On Hold</string>
			<key>action</key>
			<string>selectHoldApp</string>
   	 	</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BLACKLISTED APPS</string>
			<key>footerText</key>
			<string>SWITCH OFF AND THEN ON AGAIN THE 'BLACK LIST APPS' SWITCH FOR THE NEW SELECTED APP TO BE SET CORRECTLY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>enableBlackListedApps</string>
			<key>label</key>
			<string>Black List Apps</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Black Listed Apps</string>
			<key>action</key>
			<string>selectBlackListedApps</string>
   	 	</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectNetworkSpeedInfo</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL THANKS - ICON AND BANNER DESIGNER</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>𝐑 *¡!</string>
            <key>user</key>
            <string>rsxyo</string>
        </dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
</dict>
</plist>
