Package: com.johnzaro.perfecthomescreen13
Name: PerfectHomeScreen
Depends: mobilesubstrate, com.spark.libsparkcolourpicker, preferenceloader, ws.hbang.common (>= 1.14), com.spark.libsparkapplist, firmware (>= 13)
Version: 2.0
Architecture: iphoneos-arm
Description: Hide Icons, App Labels, Auto Close Folders, Custom Icon Layout And More
Maintainer: Johnzaro <johnzrgnns@gmail.com>
Author: Johnzaro <johnzrgnns@gmail.com>
Section: Tweaks
