<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>PLSRootHeaderView</string>
			<key>icon</key>
			<string>PLSHeader.png</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
			<key>footerText</key>
			<string>If 'Not Wake Screen On Flashlight' Is Enabled And Flashlight Is On, You Can Wake The Display Only By Pressing The Power Button.

Round Corners Has An Effect Only On Rounded Screens.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>enableAutoRotate</string>
			<key>label</key>
			<string>Enable Auto Rotate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>removeCCGrabber</string>
			<key>label</key>
			<string>Remove CC Grabber</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>doNotWakeWhenFlashlight</string>
			<key>label</key>
			<string>Not Wake Screen On Flashlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>noSwipeToUnlockText</string>
			<key>label</key>
			<string>Hide 'Swipe Up' Text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>roundedCorners</string>
			<key>label</key>
			<string>Make Corners Round</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>hideBatteryChargingAnimation</string>
			<key>label</key>
			<string>No Battery Charging Anim.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>hideLockIcon</string>
			<key>label</key>
			<string>Hide Lock Icon</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CARRIER</string>
			<key>footerText</key>
			<string>LEAVE EMPTY FOR NO CARRIER TEXT</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>enableCustomCarrier</string>
			<key>label</key>
			<string>Enable Custom Carrier Text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>customCarrier</string>
			<key>label</key>
			<string>Custom Carrier</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FACE ID</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>autoRetryFaceID</string>
			<key>label</key>
			<string>Auto Retry Face ID</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MEDIA PLAYER</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>noDragOnMediaPlayer</string>
			<key>label</key>
			<string>Disable Drag On Media Player</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WIDGETS PAGE</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>hideTodayView</string>
			<key>label</key>
			<string>Hide Widgets Page</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TIME AND DATE</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>hideDate</string>
			<key>label</key>
			<string>Hide Date</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CAMERA PAGE</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>disableSwipeForCamera</string>
			<key>label</key>
			<string>Disable Swipe For Camera</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>disableClickForCamera</string>
			<key>label</key>
			<string>Disable Click For Camera</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>--- QUICK ACTION BUTTONS ---</string>
			<key>footerAlignment</key>
			<integer>1</integer>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ENABLE QUICK ACTION BUTTONS FOR UNSUPPORTED DEVICES</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>showQuickActionButtons</string>
			<key>label</key>
			<string>Show Quick Action Buttons</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>QUICK ACTION BUTTONS EXTRA OFFSET FROM THE CORNER</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>quickActionButtonsExtraOffset</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>QUICK ACTION BUTTONS - OTHER OPTIONS</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>quickActionsTransparentBackground</string>
			<key>label</key>
			<string>Hide Quick Actions BG</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>hideFlashlightButton</string>
			<key>label</key>
			<string>Hide Flashlight Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>hideCameraButton</string>
			<key>label</key>
			<string>Hide Camera Button</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>--- DND - SILENT MODE INDICATOR ---</string>
			<key>alignment</key>
			<integer>1</integer>
        </dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DND INDICATOR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>showDNDIndicator</string>
			<key>label</key>
			<string>Show DND Indicator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>enableDNDTintColor</string>
			<key>label</key>
			<string>Add Tint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectlockscreen13prefs.colors</string>
				<key>key</key>
				<string>dndTintColor</string>
				<key>fallback</key>
				<string>#9b59b6</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Tint Color</string>
			<key>key</key>
			<string>dndTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>enableDNDGlow</string>
			<key>label</key>
			<string>Add Glow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectlockscreen13prefs.colors</string>
				<key>key</key>
				<string>dndGlowColor</string>
				<key>fallback</key>
				<string>#9b59b6</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Glow Color</string>
			<key>key</key>
			<string>dndGlowColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SILENT INDICATOR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>showSilentIndicator</string>
			<key>label</key>
			<string>Show Silent Indicator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>enableSilentTintColor</string>
			<key>label</key>
			<string>Add Tint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectlockscreen13prefs.colors</string>
				<key>key</key>
				<string>silentTintColor</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Tint Color</string>
			<key>key</key>
			<string>silentTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>enableSilentGlow</string>
			<key>label</key>
			<string>Add Glow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectlockscreen13prefs.colors</string>
				<key>key</key>
				<string>silentGlowColor</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Glow Color</string>
			<key>key</key>
			<string>silentGlowColor</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>INDICATOR LOCATION</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>285</string>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>statusIndicatorLocationX</string>
			<key>label</key>
			<string>Location X</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>30</string>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>statusIndicatorLocationY</string>
			<key>label</key>
			<string>Location Y</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>INDICATOR SIZE</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>40</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectlockscreen13prefs</string>
			<key>key</key>
			<string>statusIndicatorSize</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>80</integer>
			<key>min</key>
			<integer>20</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectLockScreen</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL THANKS - ICON AND BANNER DESIGNER</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>𝐑 *¡!</string>
            <key>user</key>
            <string>rsxyo</string>
        </dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
</dict>
</plist>
