<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>PMURootHeaderView</string>
			<key>icon</key>
			<string>PMUHeader.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>------ VOLUME BUTTONS ------</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PRESS VOLUME UP + VOLUME DOWN TO PLAY / PAUSE MEDIA.

PRESS AND RELEASE VOLUME DOWN AND THEN PRESS AND RELEASE VOLUME UP FOR NEXT SONG.

PRESS AND RELEASE VOLUME UP AND THEN PRESS AND RELEASE VOLUME DOWN FOR PREVIOUS SONG.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enabledMediaControlWithVolumeButtons</string>
			<key>label</key>
			<string>Control Media</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SWAP VOLUME BUTTONS WHEN DEVICE IS ON LANDSCAPE LEFT OR UPDSIDE DOWN.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>swapVolumeButtonsBasedOnOrientation</string>
			<key>label</key>
			<string>Swap Based On Orientation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PAUSES MUSIC WHEN VOLUME GOES TO 0%. RESUMES MUSIC WHEN VOLUME IS TURNED UP AGAIN.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>pauseMusicOnZeroVolume</string>
			<key>label</key>
			<string>Pause Music At 0% Volume</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>------ MEDIA NOTIFICATION ------</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>'NOTIFICATION ON SONG CHANGE' OPTION REQUIRES NOTIFICATIONS OF THE MUSIC APP TO BE ENABLED.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>showNotificationOnSongChange</string>
			<key>label</key>
			<string>Notification On Song Change</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>vibrateOnSongChange</string>
			<key>label</key>
			<string>Vibrate On Song Change</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>------ MUSIC WIDGET ------</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>vibrateMusicWidget</string>
			<key>label</key>
			<string>Add Vibrations To UI Elements</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHUFFLE - REPEAT BUTTONS</string>
			<key>footerText</key>
			<string>'ADD TO LOCKSCREEN' OPTION IS ONLY APPLIED WHEN WIDGET STYLE IS NORMAL.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>addExtraButtonsToLockScreen</string>
			<key>label</key>
			<string>Add To Lock Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>addExtraButtonsToControlCenter</string>
			<key>label</key>
			<string>Add To Control Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>------ LOCK SCREEN MUSIC WIDGET ------</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetStyle</string>
			<key>validTitles</key>
			<array>
      			<string>Normal</string>
      			<string>Compact</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>COMPACT STYLE OPTIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetCompactStyle</string>
			<key>validTitles</key>
			<array>
      			<string>No Extras</string>
      			<string>+ Time</string>
      			<string>+ Volume</string>
      			<string>+ Both</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
      			<string>3</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockscreenMusicWidgetTransparentBackground</string>
			<key>label</key>
			<string>Transparent Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetHideAlbumArtwork</string>
			<key>label</key>
			<string>Hide Album Artwork</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetHideRoutingButton</string>
			<key>label</key>
			<string>Hide Routing Button (Top Right)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableLockScreenMusicWidgetDynamicColors</string>
			<key>label</key>
			<string>Colorize Widget</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>addLockScreenMusicWidgetBorderDynamicColor</string>
			<key>label</key>
			<string>&#x21B3; Add Border</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BACKGROUND COLOR ALPHA</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetBackgroundColorAlpha</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BORDER COLOR ALPHA</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetBorderColorAlpha</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BORDER WIDTH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetBorderWidth</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>6</integer>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>7</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALBUM ARTWORK CORNER RADIUS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenAlbumArtworkCornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>30</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MEDIA WIDGET CORNER RADIUS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>13</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>lockScreenMusicWidgetCornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>50</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>50</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>disableTopLeftCornerRadius</string>
			<key>label</key>
			<string>No Top Left Round Corner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>disableTopRightCornerRadius</string>
			<key>label</key>
			<string>No Top Right Round Corner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>disableBottomLeftCornerRadius</string>
			<key>label</key>
			<string>No Bottom Left Round Corner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>disableBottomRightCornerRadius</string>
			<key>label</key>
			<string>No Bottom Right Round Corner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>------ CONTROL CENTER MUSIC WIDGET ------</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableControlCenterMusicWidgetDynamicColors</string>
			<key>label</key>
			<string>Colorize Widget</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>addControlCenterWidgetBorder</string>
			<key>label</key>
			<string>&#x21B3; Add Border</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BACKGROUND COLOR ALPHA</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>controlCenterMusicWidgetBackgroundColorAlpha</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BORDER COLOR ALPHA</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>controlCenterMusicWidgetBorderColorAlpha</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>------ MUSIC APP ------</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
			<key>footerText</key>
			<string>'CUST. RECENTLY ADDED COLUMNS' IS COMPATIBLE WITH IPHONE ONLY.

'HIDE QUEUE HUD' HIDES THE ANNOYING POPUP THAT SHOWS UP WHEN YOU ADD A SONG TO THE QUEUE.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppCustomRecentlyAddedColumnsNumber</string>
			<key>label</key>
			<string>Cust. 'Recently Added' Columns</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppCustomRecentlyAddedColumnsNumber</string>
			<key>validTitles</key>
			<array>
      			<string>3 Columns</string>
      			<string>4 Columns</string>
      			<string>5 Columns</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>3</string>
      			<string>4</string>
      			<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppHideKeepOrClearAlert</string>
			<key>label</key>
			<string>Hide Keep Or Clear Queue Alert</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppKeepOrClearAlertAction</string>
			<key>validTitles</key>
			<array>
      			<string>Always Clear</string>
      			<string>Always Keep</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>1</string>
      			<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppHideQueueHUD</string>
			<key>label</key>
			<string>Hide Queue HUD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppHideCellSeparators</string>
			<key>label</key>
			<string>Hide Cell Separators</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>_200RecentAlbums</string>
			<key>label</key>
			<string>200 Recent Albums</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppHideForYouAndBrowseTabs</string>
			<key>label</key>
			<string>Hide 'For You' And 'Browse' Tabs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppHideRadioTab</string>
			<key>label</key>
			<string>Hide Radio Tab</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>vibrateMusicApp</string>
			<key>label</key>
			<string>Add Vibrations To UI Elements</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL - CUSTOM APP TINT COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppCustomTintColor</string>
			<key>label</key>
			<string>Custom Tint Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectmusicprefs.colors</string>
				<key>key</key>
				<string>musicAppCustomTintColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Custom Tint Color</string>
			<key>key</key>
			<string>musicAppCustomTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NOW PLAYING VIEW - GENERAL</string>
			<key>footerText</key>
			<string>'HIDE GRABBER' HIDES THE 'NOW PLAYING' VIEW'S GRABBER (TOP CENTER).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppNowPlayingViewHideGrabber</string>
			<key>label</key>
			<string>Hide Grabber</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>hideMusicAppNowPlayingViewAlbumShadow</string>
			<key>label</key>
			<string>Hide Album Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NOW PLAYING VIEW - COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppNowPlayingViewColorsStyle</string>
			<key>validTitles</key>
			<array>
      			<string>Off</string>
      			<string>Dynamic</string>
      			<string>Static</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DYNAMIC COLORS</string>
			<key>footerText</key>
			<string>'COLORIZE BACKGROUND' AND 'ADD BORDER' REQUIRES 'NOW PLAYING VIEW' OPTION TO BE ENABLED.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppNowPlayingViewDynamicColors</string>
			<key>label</key>
			<string>Now Playing View Controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppNowPlayingViewBackgroundDynamicColor</string>
			<key>label</key>
			<string>&#x21B3; Colorize Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>addMusicAppNowPlayingViewBorderDynamicColor</string>
			<key>label</key>
			<string>&#x21B3; Add Border</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppQueueViewDynamicColors</string>
			<key>label</key>
			<string>Queue View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppMiniPlayerViewDynamicColors</string>
			<key>label</key>
			<string>Mini Player View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STATIC COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppNowPlayingViewBackgroundStaticColor</string>
			<key>label</key>
			<string>Colorize Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectmusicprefs.colors</string>
				<key>key</key>
				<string>customMusicAppNowPlayingViewBackgroundColor</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Background Color</string>
			<key>key</key>
			<string>customMusicAppNowPlayingViewBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppNowPlayingViewBorderStaticColor</string>
			<key>label</key>
			<string>Colorize Border</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectmusicprefs.colors</string>
				<key>key</key>
				<string>customMusicAppNowPlayingViewBorderColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Border Color</string>
			<key>key</key>
			<string>customMusicAppNowPlayingViewBorderColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppNowPlayingViewButtonsStaticColor</string>
			<key>label</key>
			<string>Colorize Buttons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectmusicprefs.colors</string>
				<key>key</key>
				<string>customMusicAppNowPlayingViewButtonsColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Buttons Color</string>
			<key>key</key>
			<string>customMusicAppNowPlayingViewButtonsColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppNowPlayingViewTimeControlsStaticColor</string>
			<key>label</key>
			<string>Colorize Time Controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectmusicprefs.colors</string>
				<key>key</key>
				<string>customMusicAppNowPlayingViewTimeControlsColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Time Controls Color</string>
			<key>key</key>
			<string>customMusicAppNowPlayingViewTimeControlsColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>enableMusicAppNowPlayingViewVolumeControlsStaticColor</string>
			<key>label</key>
			<string>Colorize Volume Controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.perfectmusicprefs.colors</string>
				<key>key</key>
				<string>customMusicAppNowPlayingViewVolumeControlsColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Volume Controls Color</string>
			<key>key</key>
			<string>customMusicAppNowPlayingViewVolumeControlsColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BORDER WIDTH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.johnzaro.perfectmusicprefs</string>
			<key>key</key>
			<string>musicAppNowPlayingViewBorderWidth</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>14</integer>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>15</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/PerfectMusic</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPECIAL THANKS - ICON AND BANNER DESIGNER</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>𝐑 *¡!</string>
            <key>user</key>
            <string>rsxyo</string>
        </dict>
 		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>John Zarogiannis</string>
			<key>user</key>
			<string>johnzaro</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email Me</string>
			<key>action</key>
			<string>email</string>
			<key>icon</key>
			<string>email.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Check me on Reddit</string>
			<key>action</key>
			<string>reddit</string>
			<key>icon</key>
			<string>reddit.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
		</dict>
	</array>
</dict>
</plist>
